@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url(../blocks/root/root.css);

.main {
  background-color: var(--pearl);
  height: 100vh;
}

.navbar {
  padding-top: 1.5rem;
  margin-inline: auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navbar__menu {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.navbar__logo {
  width: 200px;
  filter: brightness(1);
  cursor: pointer;
}

.navbar__menu-link {
  position: relative;
  padding: 0.5rem 0.6rem;
  z-index: 1;
  transition: 250ms ease-in-out;
}
.navbar__menu-link:before {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--bone);
  z-index: -1;
  transition: 250ms ease-in-out;
  transform-origin: bottom;
}

.navbar__menu-link:hover::before {
  height: 20%;
}
.navbar__menu-link:hover {
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.navbar__contact-button {
  position: relative;
  overflow: hidden;
}
.navbar__contact-button:hover {
  color: white;
  z-index: 0;
  transition: 500ms cubic-bezier(1, 0, 0, 1);
}

.navbar__contact-button:before {
  content: "";
  color: white;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--wine);
  transition: 500ms cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}

.navbar__contact-button:hover::before {
  width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0 50%,
    transparent 100%
  );
  z-index: 1;
}

.header__img {
  width: 100%;
  object-fit: cover;
}

.header__title-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header__title {
  font-size: 10rem;
  color: white;
}

.header__subtitle {
  color: white;
  text-align: right;
}
