@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url(../blocks/root/root.css);
@import url(../blocks/animation/animation.css);
.main {
  background-color: var(--pearl);
  height: 100vh;
}

.navbar {
  padding-top: 1.5rem;
  margin-inline: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navbar__menu {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.navbar__logo {
  width: 200px;
  filter: brightness(2);
  cursor: pointer;
}

.navbar__menu-link {
  position: relative;
  padding-block: 0.5rem;
  z-index: 1;
  transition: 250ms ease-in-out;
  text-align: center;
  letter-spacing: 0.1rem;
}
.navbar__menu-link:before {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: white;
  z-index: -1;
  transition: 250ms ease-in-out;
  transform-origin: bottom;
}

.navbar__menu-link:hover::before {
  height: 10%;
}
.navbar__menu-link:hover {
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.navbar__contact-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.navbar__contact-button:hover {
  color: white;
  z-index: 0;
  transition: 500ms cubic-bezier(1, 0, 0, 1);
}

.navbar__contact-button:before {
  content: "";
  color: white;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--wine);
  transition: 500ms cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}

.navbar__contact-button:hover::before {
  width: 100%;
}

/* --------------------------HEADER SECTION--------------------- */
.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header__img {
  width: 100%;
  object-fit: cover;
}

.header__title-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.header__title-animation-wrapper {
  height: 10rem;
  /* overflow: hidden; */
  /* border: white 1px solid; */
}

.header__title {
  font-size: 8rem;
  color: white;
  /* transform: translateY(100%); */
  animation: titleanimation 1s ease-in forwards;
}

.header__subtitle {
  color: white;
  padding-right: 2rem;
  font-size: 1.5rem;
  text-align: right;
  opacity: 0;
  animation: titleanimation 1s ease-in forwards 1s;
}

.scroll-icon {
  position: absolute;
  padding: 0;
  bottom: 4rem;
  width: 300px;
  height: 300px;
  z-index: 1;
}

/* --------------------------COLLECTION SECTION--------------------- */
.collection {
  width: 100%;
  background-color: var(--nyanza);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  overflow: hidden;
}
.collection__main-title-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -2rem;
}
.collection__main-title {
  font-size: 5rem;
  font-weight: 300;
  color: var(--oldrose);
  white-space: nowrap;
}

.collection__main-title:nth-of-type(2) {
  transform: translateX(-50%);
}

.collection__main-title > span {
  color: black;
}

.collection__title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--oldrose);
  padding-bottom: 3rem;
  margin-block: 5rem;
  text-align: center;
}

.collection__carousel {
  margin-top: 5rem;
  width: 80%;
  height: 100%;
  overflow: hidden;
  display: flex;
  /* border-radius: 10px; */
}

.collection__thumbnail-wrapper {
  cursor: pointer;
  width: calc(100% / 7);
  /* width: 80%; */
  position: relative;
  /* border: solid black 1px; */
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5);
  transition: 500ms ease-in-out;
}

.collection__thumbnail-wrapper_active {
  width: 80%;
}

.collection__thumbnail-wrapper_inactive {
  width: calc(20% / 6);
  pointer-events: none;
}

.collection__thumbnail-wrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.collection__thumbnail {
  object-fit: cover;
  object-position: 0px;
  transition: 250ms ease-in;
  height: 110%;
}

.collection__thumbnail_1 {
  object-position: -650px;
  transition: 250ms ease-in;
}
.collection__thumbnail_2 {
  object-position: -340px;
  transition: 250ms ease-in;
}
.collection__thumbnail_3 {
  object-position: -1080px;
  transition: 250ms ease-in;
}
.collection__thumbnail_4 {
  object-position: -650px;
  transition: 250ms ease-in;
}
.collection__thumbnail_5 {
  object-position: -340px;
  transition: 250ms ease-in;
}
.collection__thumbnail_6 {
  object-position: -1080px;
  transition: 250ms ease-in;
}
.collection__thumbnail_7 {
  object-position: -650px;
  transition: 250ms ease-in;
}

.collection__thumbnail_isactive {
  object-position: 0px;
  transition: 0ms ease-in;
}

.collection__thumbnail-title {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  bottom: 2rem;
  left: 0.5rem;
  color: white;
  text-align: left;
}

.collection_active {
  position: absolute;
  width: 60%;
  height: 80%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  /* transition: 500ms ease-in-out; */
}
/* .collection__title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  line-height: 1;
  color: var(--wine);
  padding: 0;
  margin-bottom: 2rem;
} */

.collection__title_description {
  text-align: left;
  margin-bottom: 1rem;
}

.collection__title_description_white {
  color: white;
}

.collection__text {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  color: black;
  width: 500px;
}

.collection__text_white {
  color: white;
}

.collection_active_is-open {
  opacity: 1;
  pointer-events: all;
}

.collection__close-button {
  margin-top: 2rem;
  padding: 0.5rem;
  border: 1px solid black;
  width: 10rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 500ms cubic-bezier(1, 0, 0, 1);
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.collection__close-button:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  background-color: var(--wine);
  z-index: -1;
  transition: 500ms cubic-bezier(1, 0, 0, 1);
}

.collection__close-button_white {
  color: white;
  border: 1px solid white;
}

.collection__close-button:hover {
  color: white;
}

.collection__close-button:hover::before {
  width: 100%;
}

.collection__hide-description {
  opacity: 0;
  transition: 0;
}
