@keyframes titleanimation {
  from {
    transform: translatey(100%);
    opacity: 0;
  }
  to {
    transform: translatey(0%);
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}
