@keyframes titleanimation {
  from {
    transform: translatey(100%);
    opacity: 0;
  }
  to {
    transform: translatey(0%);
    opacity: 1;
  }
}

@keyframes collectionTitleAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
